body {
  text-align: center;
}

div {
  font-size: 15;
  margin: 0;
}

p {
  margin-top: 10px;
  font-size: 12px;
  padding: 8px;
}

.last-round {
  color: brown;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
}

.btn,
.restart-btn {
  padding: 20px;
  margin: 30px;
}

.restart-btn {
  background-color: #82c5ca;
  border: 0;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.hidden {
  display: none;
}
